<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 1. Vue support -->

    <link href="css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Other js and css scripts -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="csrf-token" content="EyJ38kzGZ52TYTxDthEh8vZ6YZ0BUvgyRNdc36bk">

    <!-- Primary Meta Tags -->
    <title>Himanshu Pal Resume</title>
    <meta name="title" content="Himanshu Pal Resume" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <!-- Open Graph / Facebook -->

    <meta property="og:url" content="https://www.facebook.com/profile.php?id=100025232132706" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="CraftmyCV - Himanshu Pal Resume" />

    <meta property="og:description"
        content="• Fresh out of college with a degree&amp;nbsp; in Electronics.• Skilled in Communication, Leadership and Management.• Willing to give my level best." />

    <meta property="og:image"
        content="https://craftmycv.com/storage/production/profiles/avatars/230435/online-resume.jpg" />
    <meta property="og:image:secure_url"
        content="https://craftmycv.com/storage/production/profiles/avatars/230435/online-resume.jpg" />




    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="CraftmyCV. Free Resumes SEO Optimized Mobile Friendly" />
    <meta property="og:site_name" content="CraftmyCV" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="fb:app_id" content="155211062532469">
    <meta name='description'
        content="• Fresh out of college with a degree&amp;nbsp; in Electronics.• Skilled in Communication, Leadership and Management.• Willing to give my level best.">
    <!-- Global schema markups -->

    <!-- End Facebook Pixel Code -->


    <link rel="stylesheet" href="https://craftmycv.com/css/main.css">
    <link rel="stylesheet" href="https://craftmycv.com/css/mediaqueries.css">
    <link rel="stylesheet" href="https://craftmycv.com/css/flags.css">


    <link rel="shortcut icon" href="https://craftmycv.com/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://craftmycv.com/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://craftmycv.com/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://craftmycv.com/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://craftmycv.com/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://craftmycv.com/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://craftmycv.com/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://craftmycv.com/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://craftmycv.com/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://craftmycv.com/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://craftmycv.com/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://craftmycv.com/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://craftmycv.com/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://craftmycv.com/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://craftmycv.com/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://craftmycv.com/img/favicons/manifest.json" crossorigin="use-credentials">
    <meta name="msapplication-TileColor" content="#FFA300">
    <meta name="msapplication-TileImage" content="https://craftmycv.com/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#FFA300">







</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W93NGCM" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- 1. Vue support app id-->
    <div id="app">
        <div class="cv-toaster-alert-status active alert alert-success offline-alert alerts-to-hide" role="alert"
            style="display:none">
            You are Offline
        </div>

        <div class="cv-toaster-alert-status active alert alert-success online-alert alerts-to-hide"
            style="display:none">
            You are Online
        </div>

        <div class="cv-toaster-alert-status active alert alert-success online-alert job-preference-save alerts-to-hide"
            style="display:none">
            Saved
        </div>
        <header>

    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    <nav class="main-menu-wrap position-fixed">
        <div class="main-menu">
            <div class="right">
                <div class="btn-action">
                    <a class="btn btn btn-width-2 btn-secondary" href="/register">Sign Up</a>
                    <a class="btn btn btn-width-2 btn-outline-secondary" href="/login">Login</a>
                </div>
            </div>
        </div>

        <div class="main-menu-body-wrap mCustomScrollbarx">
            <div class="main-menu-body">
                <ul class="sidebar-nav-links list-unstyled">
                    <li>
                        <a href="https://craftmycv.com/resume-services" title="">Resume Services</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/resume-templates" title="">Resume Templates</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/resume-builder" title="">Resume Builder</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/resume-examples" title="">Resume Examples</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/jobs">Jobs</a>
                    </li>
                    <li>
                        <a href="/blog" title="" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/pricing" title="">Pricing</a>
                    </li>
                    <li>
                        <a href="/recruiter">For Recruiters <span class="badge badge-red">NEW</span></a>
                    </li>
                </ul>
                <ul class="sidebar-nav-links sm list-unstyled">
                    <li>
                        <a href="https://craftmycv.com/about" title="">About</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/pricing#faq" title="">FAQs</a>
                    </li>
                    <li>
                        <a href="https://craftmycv.com/contact" title="">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="main-menu-footer">
                <ul class="socialLinks transparent list-unstyled">
                    <li class="linkedin">
                        <a href="">
                            <i class="cmcv-icon cmcv-linkedin-1"></i>
                        </a>
                    </li>
                    <li class="youtube">
                        <a href="https://www.youtube.com">
                            <i class="cmcv-icon cmcv-youtube-1"></i>
                        </a>
                    </li>
                    <li class="fb">
                        <a href="">
                            <i class="cmcv-icon cmcv-facebook-1"></i>
                        </a>
                    </li>
                    <li class="insta">
                        <a href="">
                            <i class="cmcv-icon cmcv-instagram-1"></i>
                        </a>
                </ul>
                <p class="copyright">©2022. All Rights Reserved</p>
            </div>
        </div>
        </div>

    </nav>
    <div class="main-menu-backdrop" style="display:block;"></div>





    </header>

    <div class="my-cv">

        <div class="my-cv-header-container" id="about-me">
            <div class="my-cv-header">
                <div class="container">
                    <div class="my-cv-container d-flex">
                        <div class="my-cv-body">
                            <div class="online-profile-info">
                                <div class="online-profile-info-inner">
                                    <div class="header">
                                        <div class="img-wrap mobOnly">
                                            <div class="img">
                                                <img alt="" src="" width="100%" height="100%" class="rounded-circle">
                                            </div>
                                        </div>

                                        <h1 class="user-name">HIMANSHU PAL</h1>
                                        <h2 class="user-profile">
                                            My Aim is Software Engineer
                                            <span class="user-loc">
                                                <i class="cmcv-icon cmcv-map-marker"></i>
                                                India
                                            </span>
                                        </h2>
                                    </div>
                                    <div class="desc">
                                        <p> • Fresh out of college with a B-Tech(cse) degree RGPV University.<br> •
                                            Skilled in Communication, Leadership and Management.<br>• Willing to
                                            give my level best.</p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-cv-body-container">
                    <div class="container">
                        <div class="my-cv-container d-flex">
                            <aside class="my-cv-sidebar sticky-top" id="my-cv-sidebar">
                                <div class="img-wrap">
                                    <div class="img">
                                        <img src="img/hp.png" width="100%" height="100%" class="rounded-circle">
                                    </div>
                                    <h4 class="exp text-center">1+ day ago.</h4>
                                </div>
                                <div class="my-cv-nav-wrap" id="profile-nav">
                                    <ul class="list-unstyled my-cv-nav">
                                        <li class="active">
                                            <a href="#about-me" title="" class="scrollToDiv nav-link">About me</a>
                                        </li>
                                        <li>
                                            <a href="#skills" title="" class="scrollToDiv nav-link">Key skills</a>
                                        </li>
                                        <li>
                                            <a href="#education" title="" class="scrollToDiv nav-link">Education</a>
                                        </li>
                                        <li>
                                            <a href="#certifications" title=""
                                                class="scrollToDiv nav-link">Certifications</a>
                                        </li>
                                        <li>
                                            <a href="#hobbies" title="" class="scrollToDiv nav-link">Hobbies &
                                                Interests</a>
                                        </li>
                                        <li>
                                            <a href="#languages" title="" class="scrollToDiv nav-link">Languages</a>
                                        </li>
                                        <li>
                                            <a href="#connect" title="" class="scrollToDiv nav-link">Contact Me</a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                            <div class="my-cv-body" data-spy="scroll" data-target="#navbar-example2">
                                <section id="skills" class="profile-skills section scrollspy-section">
                                    <div class="section-header">
                                        <h2>Key Skills</h2>
                                    </div>
                                    <div class="section-body">
                                        <div class="progress-cont d-flex flex-wrap">
                                            <div class="progress-wrap" v-for="(item, index) in profile.skills">
                                                <div class="progress-label">Web App Development</div>
                                                <div class="progress-cont d-flex">
                                                    <div class="progress">
                                                        <div class="progress-bar" style=""></div>
                                                    </div>
                                                    <div class="skills-yrs">0 Yrs</div>
                                                </div>
                                            </div>
                                            <div class="progress-wrap" v-for="(item, index) in profile.skills">
                                                <div class="progress-label">Communication skills</div>
                                                <div class="progress-cont d-flex">
                                                    <div class="progress">
                                                        <div class="progress-bar" style=""></div>
                                                    </div>
                                                    <div class="skills-yrs">0 Yrs</div>
                                                </div>
                                            </div>
                                            <div class="progress-wrap" v-for="(item, index) in profile.skills">
                                                <div class="progress-label">Leadership</div>
                                                <div class="progress-cont d-flex">
                                                    <div class="progress">
                                                        <div class="progress-bar" style=""></div>
                                                    </div>
                                                    <div class="skills-yrs">0 Yrs</div>
                                                </div>
                                            </div>





                                        </div>
                                    </div>
                                </section>



                                <section id="education" class="profile-education section scrollspy-section">
                                    <div class="section-header">
                                        <h2>Education</h2>
                                    </div>
                                    <div class="section-body">
                                        <article class="education-wrap">
                                            <div class="education-wrap-inner d-flex">
                                                <div class="left">
                                                    <div class="education-year">
                                                        <div class="start-date">
                                                            Aug 2020
                                                        </div>
                                                        <div class="end-date">
                                                            June 2024 </div>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <div class="education-degree">Bachelor of Engineering(B-Tech) in
                                                        IPS College of Technology and Management, Gwalior(M.P.)
                                                    </div>
                                                    <div class="education-university text-uppercase">RGPV University
                                                        Bhopal Madhya Pradesh </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>

                                <section id="certifications" class="profile-achievements section scrollspy-section">
                                    <div class="section-header">
                                        <h2>Certifications</h2>
                                    </div>
                                    <div class="section-body">
                                        <article class="achievements-wrap">
                                            <div class="achievements-wrap-inner d-flex">
                                                <div class="left">
                                                    <div class="achievements-year">2022</div>
                                                </div>
                                                <div class="right">
                                                    <div class="achievements-title">Coding compitition</div>
                                                    <div class="achievements-desc">IPS college of Technology and
                                                        Management Gwalior</div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>



                                <section id="hobbies" class="profile-hobbies section scrollspy-section">
                                    <div class="section-header">
                                        <h2>Hobbies & Interests</h2>
                                    </div>
                                    <div class="section-body">
                                        <article class="hobbies-wrap">
                                            <div class="hobbies-wrap-inner">
                                                <ul class="list-inline text-center mb-0 d-flex flex-wrap">
                                                    <li class="">
                                                        <div class="icon"><i class="cmcv-icon cmcv-photography"></i>
                                                        </div>
                                                        <div class="desc">Listening Music</div>
                                                    </li>
                                                    <li class="">
                                                        <div class="icon"><i class="cmcv-icon cmcv-soccer"></i>
                                                        </div>
                                                        <div class="desc">Watching Movies</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </section>

                                <section id="languages" class="profile-languages section scrollspy-section">
                                    <div class="section-header">
                                        <h2>Languages</h2>
                                    </div>
                                    <div class="section-body">
                                        <article class="languages-wrap d-flex flex-wrap">
                                            <div class="language-wrap">
                                                <div class="language-label">English</div>
                                                <div class="progress-bar palette-bg-2" role="progressbar"
                                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 70%"></div>
                                                <div class="language-level-wrap d-flex align-items-center">
                                                    <div class="language-level active"></div>
                                                    <div class="language-level active"></div>
                                                    <div class="language-level "></div>
                                                    <div class="language-level-text">(medium)</div>
                                                </div>
                                            </div>
                                            <div class="language-wrap">
                                                <div class="language-label">Hindi</div>
                                                <div class="progress-bar palette-bg-2" role="progressbar"
                                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 100%"></div>
                                                <div class="language-level-wrap d-flex align-items-center">
                                                    <div class="language-level active"></div>
                                                    <div class="language-level active"></div>
                                                    <div class="language-level active"></div>
                                                    <div class="language-level-text">(Native)</div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class=" d-print-none">
            <div class="container">
                <div class="footer-inner">

                    <div class="col1">
                        <p>Address: Hurawali Morar Gwalior</p>
                        <p>Contact: +91-9399170486</p>
                        <p>Email: palh2096@gmail.com</p>
                    </div>

                    <div class="col2-2">

                        <ul class="socialLinks transparent list-unstyled mb-0">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100025232132706">
                                    <i class="fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100025232132706">
                                    <i class="fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100025232132706">
                                    <i class="fa-instagram"></i>
                                </a>
                            </li>
                            <li ">
                                    <a href=" https://www.linkedin.com/in/himanshu-pal-804534232/">
                                      <i class="fa-linkedin"></i>
                                     </a>
                            </li>
                        </ul>
                        <div class="footer-bottom">
                            <div class="copyright">@Copyright 2022 </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


</body>

</html>